<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.alexklab.ksharedpreferences">

    <application>
        <provider
                android:name=".PreferencesContentProvider"
                android:authorities="${applicationId}.PreferencesContentProvider"
                android:directBootAware="true"
                android:exported="false"
                android:initOrder="900"/>

    </application>

</manifest>
